/* Top bar menu */
body {
    background-color: lightblue;
    font-family: Arial, Helvetica, sans-serif;
}
.topBar {
    border: 5px ridge darkgreen;
    background-color: lightgreen;
    width: 99%;
    height: 70px;
}
.topBar .title {
    float: left;
    width: 20%;
    padding: 15px;
    font-size: 35px;
    margin-left: 20px;
    color: black;
    text-decoration: none;
}
.topBar .picture {
    width: 40%;
    float: left;
    margin-top: 5px;
}
.topBar .picture img {
    float: right;
    width: 30%;
}
.topBar .buttons {
    float: right;
    width: 30%;
    padding-top: 20px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 15px;
}
.topBar .buttons a {
    float: right;
    margin-right: 20px;
    font-size: 20px;
    text-decoration: none;
    padding: 5px;
    color: black;
}
.topBar .buttons a:hover {
    background-color: white;
}
.breadcrumbs {
    margin-top: 5px;
    margin-left: 10px;
    color: darkred;
}
.breadcrumbs a {
    color: darkred;
}
/* Error page */
.error {
    width: 100%;
}
.error .errorText {
    float: left;
    width: 50%;
    margin: 10px;
    margin-left: 30px;
    margin-top: 100px;
}
.error .errorText h2 {
    font-size: 50px;
}
.error .errorText p {
    font-size: 30px;
}
.error img{
    width: 15%;
    margin: 40px;
    float: left;
    margin-left: 150px;
}
.errorButton {
    background-color: transparent;
    color: darkred;
}
.errorButton:hover {
    background-color: darkred;
    color: white;
}
/* lots page */
.lotsContent {
    margin: 5px;
    margin-left: 30px;
}
.lotHead {
    width: 98%;
    background-color: lightcoral;
    border: 4px ridge darkred;
    text-align: center;
}
.lotHead h1{
    background-color: white;
    width: 70%;
    margin-left: 15%;
}
.column{
    background-color: white;
    width: 30%;
    margin: 10px;
    float: left;
    padding: 5px;
}
.column .lot {
    margin: 15px;
    padding: 5px;
    border: 3px ridge darkred;
    background-color: paleturquoise;
}
.column .lot .lotImg {
    margin-left: 13px;
    padding-left: 13px;
}
.column .lot .lotText {
    margin-left: 13px;
    padding-left: 13px;
}
/* Spots page */
.spotsContent {
    width: 100%;
    margin-left: 20px;
}
.slot {
    width: 22%;
    background-color: white;
    margin: 10px;
    float: left;
    padding: 5px;
}
.spot {
    margin: 15px;
    padding: 5px;
    border: 3px ridge darkred;
    background-color: paleturquoise;
}
.spot p{
    margin-left: 8px;
}
.spot h3{
    margin-left: 8px;
}
.spotsHead{
    width: 96.5%;
    background-color: lightcoral;
    border: 4px ridge darkred;
    text-align: center;
}
.spotsHead h1{
    background-color: white;
    width: 70%;
    margin-left: 15%;
}
.spotButton {
    background-color: transparent;
    font-size: 20px;
    color: darkred;

}
.spotButton:hover {
    background-color: darkred;
    color: white;
}
/* Home Page */
.homeContent {
    margin: 5px;
    margin-left: 30px;
}
.homeHead {
    width: 98%;
    background-color: lightcoral;
    border: 4px ridge darkred;
    text-align: center;
}
.homeHead h1{
    background-color: white;
    width: 70%;
    margin-left: 15%;
}
.rightSection {
    float: left;
    width: 60%;
    background-color: white;
    margin: 10px;
}
.rightSection p{
    margin: 20px;
    font-size: 20px;
}
.rightSection h1{
    margin: 20px;
}
.leftSection {
    float: left;
    width: 35%;
    background-color: white;
    margin: 10px;
}
.leftSection p{
    margin: 20px;
}
.leftSection h2{
    margin: 20px;
}
.section {
    border: 3px ridge darkred;
    background-color: paleturquoise;
    margin: 10px;
}
.maristImg {
    width: 20%;
    padding: 20px;
    float: left;
    background-color: grey;
}
.cars {
    float: left;
    width: 18%;
}
.cars img{
    width: 100%;
}
.homeImg {
    width: 97%;
    height: 180px;
    background-color: grey;
    padding-left: 40px;
}
.homeLink {
    color: darkred;
}
